{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    }
},
  "rules": {
    "quotes": [2, "single", "avoid-escape"],
    "semi": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}