{
	"parser": "babel-eslint",
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true,
			"modules": true
		}
	},
	"env": {
		"node": true
	},
	"rules": {
		"quotes": [2,	"single",	"avoid-escape"],
		"indent": ["error", "tab"],
		"semi": "error"
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	}
}