.title {
    height: 6%;
    width: 100%;
    background-color: #003366;
    /*border: 1px solid black;*/
    color: white;
    font-family: "Comic Sans MS";
    padding: .5rem;
    display: flex;
    align-items: center;
}

.col-align{
    display: flex;
    align-items: center;
}