.control {
    height: 100%;
    width: 100%;
    background-color: #333333;
    border-radius: 10px;
    border: 0.5px solid gray;
    overflow: auto;
    color: white;
    font-family: "Comic Sans MS";
    padding: .5rem;
    align-items: flex-start;
    flex-wrap: wrap;
}