.control {
    height: 100%;
    width: 100%;
    background-color: #333333;
    border-radius: 10px;
    border: 0.5px solid gray;
    color: white;
    font-family: "Comic Sans MS";
    padding: .5rem;
    display: flex;
    align-items: auto;
}